.container{
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    position: relative;
    .logo{
        background-image: url(../week7/img/index/d’Perfume.png);
        width: 128px;
        height: 38px;
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    .mobilecart{
        position: relative;
        p{
            position: absolute;
            font-size: 12px;
            width: 16px;
            height: 16px;
            top: -55%;
            left: 30%;
            border-radius: 10px;
        }
    }
    .site{
        width: 500px;
        font-size: $font-size-lg;
    }
    .headernav{
        height: 0;
    }
    .navbarsite{
        @include pad(){
            position: absolute;
            top: 60px;
            left:0px;
            width: 100%;
            max-height: 0px;
            overflow: hidden;
            background-color: $nav;
            transition: max-height 1s;
            z-index: 10;
        }
    }
    .active{
        max-height: 300px;
        z-index: 10;;
    }
}    
.perfume_name{
    ul{
        width: 500px;
    }
}
.footer_subscribe{
    background-image: url(../week7/img/index/photo-1532413992378-f169ac26fff0.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    margin: 0 auto;
}
.form-group{
    margin-top: 312px;
}
.email{
    width: 219px;
    height: 60px;
}
.enter{
    width: 131px;
    height: 60px;
}
.information{
    background-color: $secondary;
    padding: 20px 0 22px 0;
    p{
        font-size:14px;
    }
    li{
        margin-left: 36px;
        font-size: 20px;
    }
}
img{
    display: block;
    max-width: 100%;
}