body{font-family:微軟正黑體}
h1 { color:blue;
        font-size:40px}
p  { text-indent:32px}
a  {color:blue}
a:hover{color:red;
        font-size:20px}
.red{ font-size:30px;
        border-left:6px solid red;
        border-bottom:10px solid red}
.lorem{ text-decoration: line-through;}
.grey{border:10px solid grey;} 