/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.all {
    font-family:"SF Pro Text","微軟正黑體";
    margin:0px auto;  
    width:1200px;
}
img{
    display:block;
}
h1{
    font-size:95px;
    margin:40px 0px 0px 0px;
    padding:0px 0px 24px 0px;
    border-bottom:solid 2px black; 
    line-height:1.2;
    font-weight:bold;
}
.header img{
    width:324px;
    padding:48px 0px;
}
.title{
    font-size:32px;
    line-height:45px;
    padding: 0px 0px 8px 0px; 
    margin:0px auto 16px auto;
    border-bottom:solid 1px rgb(179, 171, 171); 
    font-weight:bold;
}
.eng{
    font-size:24px;
    margin-left:16px;
    color:red;
}
.container ul{
    padding-bottom:48px;
}
.container li{
    margin-bottom:24px;
    font-size:24px;
    line-height:1.5;
}
.skills{
    background-color:#415165;
	color:white;
	text-align:center;
    padding:24px 0px 32px 0px;
    margin:0px 0px 72px 0px;
}
.whiteeng{
    font-size:24px;
    margin-left:16px;
}
.skills ul{
    width:224px;
    border-left:1px solid #96A9C4;
    padding:0px 0px 0px 24px;
    margin:40px auto 0px auto;
    text-align:center;
}
.skills li{ 
    font-size:24px;
    line-height:1.5;
    margin-bottom:20px;
    text-align:left;
}
.skillstitle{
    width:996px;
    margin: 0 auto;
    text-align:center;
}
.work{
    border-left:1px solid #96A9C4;
    padding-left:20px;
    width:642px;
    margin:0px 0px 76px 24px;
}
.work li{
    font-weight:bold;
    margin-bottom:30px;
    font-size:24px;
    line-height:1.5;
}
.work p{
    font-weight:lighter;
    font-size:20px;
    line-height:1.5;    
}
.work img{
    padding:8px 0px;
}
.footer{
    background-color: #415165;
    color:white;
    font-family:"SF Pro Text","微軟正黑體";
    text-align:center;
    padding:24px 0px 48px 0px;
}
.footertitle{
    width:1200px;
    margin:auto;
}
.footer ul{
    padding-top:32px;
    margin-bottom:20px;
}
.footer li{
    margin-bottom:16px;
    font-size:24px;
    line-height:1.5;
}
.footer img{
    display:inline;
    text-align:center;
    margin:0px 12px;
}




